<% @lists.each do |list| %>
<div>
	TITLE: <%= list.title %> <%= list.post %> TEXT: <%= list.post %>
	<% if shared = list.share.where(:user_id=>current_user.id).first.who_shared  %>
		 Shared by <%= shared %>
	<% end %>
	<%= link_to 'Show', list %>
	<%= link_to 'Edit', edit_list_path(list) %>
	<%= link_to 'Destroy', list, :confirm => 'Are you sure?', :method => :delete %>	
	<div class="block_share">
		<%= form_tag share_list_path, :class => "my_form" do  %>
		  Enter email <%= text_field_tag :email, params[:email] %>
			<%= hidden_field(:list,:id,:value => list.id) %>
		  <%= submit_tag "Share list", :name => nil, :class => "btn btn-primary my_button" %>
		<% end %>
	</div>
</div>
	<% end %>
