<h1>Listing lists</h1>
<div class="hero-unit">
	<table>
		<tr>
		  <th>Title</th>
		  <th>Post</th>
			<th>Who shared</th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>

	<% @lists.each do |list| %>
		<tr>
		  <td><%= list.title %></td>
		  <td><%= list.post %></td>
			<td><%= list.share.where(:user_id=>current_user.id).first.who_shared %></td>
		  <td><%= link_to 'Show', list %></td>
		  <td><%= link_to 'Edit', edit_list_path(list) %></td>
		  <td><%= link_to 'Destroy', list, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
	</table>
</div>
<br />

<%= link_to 'New List', new_list_path %>
