<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @list.title %>
</p>

<p>
  <b>Post:</b>
  <%= @list.post %>
</p>
<p>
	<%= form_tag share_list_path, :class => "well form-actions" do  %>
		<fieldset class="fields">
    	Enter email <%= text_field_tag :email, params[:email] %>
			<%= hidden_field(:list, :id) %>
    	<%= submit_tag "Share list", :name => nil, :class => "btn btn-primary my_button" %>
		</fieldset>
	<% end %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
