<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery','application', 'private_pub' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container">
	<p id="notice"><%= notice %></p>
	<div class="breadcrumb">
		<%= link_to 'Home', root_path %>
		<% if user_signed_in? %>
			<%= link_to "Log Out", destroy_user_session_path %>
			Current user is <%= current_user.email %>
		<% else %>
			<%= link_to "Login", new_user_session_path %>
			<%= link_to "Registration", new_user_registration_path %>
		<% end %>
	</div>
	<%= yield %>
</div>
</body>
</html>
